@media (prefers-color-scheme: dark) {
    body {
        background-color: #0F0F0F;
        color: #8a8a8a;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: #333333;
    }
}

body {
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
    color: #333333;
    background-color: white;
}

.dark-mode {
    background-color: #0F0F0F; 
    color: #8a8a8a; 
}

.header {
    padding: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: medium;
    font-family: Baskerville;
}


.logo img {
    margin-right: 20px;
    width: 72px;
    height: 72px;
}

.content {

}

.iframe-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default; 
    pointer-events: inherit; 
}

.product {
     display: flex;
     align-items: center;
     margin-bottom: 20px;
     max-width: 600px;
}

.product-image {
      width: 150px;
      height: auto;
      margin-right: 20px;
}

.product-description {
       flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        transition: background-color 0.5s, color 0.5s;
        color: #333333;
        background-color: white;
    }
    .dark-mode {
        background-color: #0F0F0F; 
        color: #8a8a8a; 
    }
    .header {
        flex-direction: row;
        align-items: left;
        margin-left: -5px;
    }

    .logo img {
        margin: 0px;
        margin-right: 10px;
        width: 12px;
        height: 12px;
    }

    .title h1 {
        font-size: small; 
        margin: 0;
        text-align: left;
    }

    .content {
        max-width: 100%; 
        box-sizing: border-box; 
        margin-left: -20px;
    }

    .audio-wrapper {
        display: flex;
        align-items: center;
    }

    .footer {

    }
}

